# localized configuration files
utilities/fop/fop-config.local.xml
utilities/fop/fop-config.windows.xml

# Ignore build directory used for release packaging
build/

# Miscellaneous local development
*.tar.gz
tarball.sh



# TEMPORARY for Crane-txt2xml development only
Crane-txt2xml/
